{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
     <div class="container mt-4">

        <h1>Liste des réservation</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Chambre</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.client.nom }}</td>
                    <td>{{ reservation.client.prenom }}</td>
                    <td>{{ reservation.client.email}}</td>
                    <td>{{ reservation.chambre.numeroChambre }}</td>
                    <td>
                        <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_reservation_new') }}" class="btn btn-success">Créer une réservation</a>
    </div>
{% endblock %}
